@import "../variables";

@mixin LabelText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.board {
  display: grid;
  grid-template-rows: 5% 90% 5%;
  grid-template-columns: 5% 90% 5%;
  background-color: $white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid $black;

  .hor-label {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);

    div {
      @include LabelText();
    }
  }

  .vert-label {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr;

    div {
      @include LabelText();
    }
  }

  .cell-area {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    border: 1px solid $black;
  }
}
