@import "../variables";

.timer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .timer {
    position: relative;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: right;

    &.white {
      background-color: $white;
      color: $black;

      &.active {
        &::before {
          border: 1px solid $blackHint;
        }
      }
    }

    &.black {
      background-color: $black;
      color: $white;

      &.active {
        &::before {
          border: 1px solid $greenHint;
        }
      }
    }

    &.active {
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        // background-color: $green;
        // background: rgb(212, 250, 67);
        background: radial-gradient(
          circle,
          $greenHint 0%,
          $green 98%
        );
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid lightgray;
      }
    }
  }
}
