$widthHistoryBlock: 180px;

/** COLORS */
$black: #262421;
$white: #eeeed2;
$green: #769656;
$highlight: rgba(255, 255, 0, 0.5);
$blackHint: rgba(0, 0, 0, 0.1);
$regHint: rgba(255, 110, 110, 0.8);
$greenHint: rgba(170, 250, 110, 0.8);
